<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="settings">
  <link rel="stylesheet" th:href="@{/css/common/all.css}" type="text/css">

  <script th:src="@{/js/common/jquery-3.7.0.min.js}"></script>

  <script th:src="@{/js/consts/consts.js}"></script>

  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}" type="text/css">
  <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
</th:block>