<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="~{common/fragments/csrf :: csrf}"></th:block>
  <title>리딩북스</title>

  <th:block th:replace="~{common/fragments/common-settings :: settings}"></th:block>
  <link rel="stylesheet" th:href="@{/css/home/navbar.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/management/management.css}" type="text/css">

  <script th:src="@{/js/common/call-ajax.js}"></script>
  <script th:src="@{/js/manage/bookgroup/bookgroup.js}"></script>
</head>
<body>
<div class="container">
  <header class="header mb-5 mt-1">
    <th:block th:replace="~{common/fragments/navbar :: navbar}"></th:block>
  </header>
  <main class="main">
    <div class="row">
      <div class="col-2">
        <th:block th:replace="~{manage/fragments/navbar :: navbar}"></th:block>
      </div>
      <div class="col-10">
        <form class="book-form content-box" action="" enctype="multipart/form-data">
          <label for="bookId">도서 아이디</label>
          <input type="text" name="bookId" id="bookId" class="form-control mb-3 p-2"/>

          <button type="button" class="btn btn-primary w-100 p-3 delete">삭제하기</button>
        </form>
      </div>
    </div>
  </main>
</div>
</body>
</html>