<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{common/fragments/csrf :: csrf}"></th:block>
    <title>리딩북스</title>

    <th:block th:replace="~{common/fragments/common-settings :: settings}"></th:block>
    <link rel="stylesheet" th:href="@{/css/login/register.css}" type="text/css">
    <script th:src="@{/js/login/register.js}"></script>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center flex-column">
    <header class="header mb-5 mt-5">
        <nav>
            <a href="/">
                <img src="/images/logo/reading.png" alt="리딩" width="200">
            </a>
        </nav>
    </header>
    <main class="main">
        <div class="register-form">
            <th:block th:replace="~{login/fragments/register-form :: form}"></th:block>
        </div>
    </main>
    <footer></footer>
</div>
</body>
</html>