<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="~{common/fragments/csrf :: csrf}"></th:block>
  <title>리딩북스</title>

  <th:block th:replace="~{common/fragments/common-settings :: settings}"></th:block>
  <link rel="stylesheet" th:href="@{/css/login/login.css}" type="text/css">

  <script th:src="@{/js/login/find-password.js}"></script>
  <script th:src="@{/js/common/call-ajax.js}"></script>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center flex-column">
  <header class="header mb-5 mt-5">
    <nav>
      <a href="/">
        <img src="/images/logo/reading.png" alt="리딩" width="200">
      </a>
    </nav>
  </header>
  <main class="main">
    <div class="alert alert-primary fw-normal">
      비밀번호의 경우 <strong>암호화</strong> 저장되어 분실 시 찾아드릴 수 없는 정보입니다. <br/>
      본인 확인 이후에 재설정된 비밀번호가 아이디(이메일)로 발송됩니다.
    </div>
    <input type="email" class="email form-control mb-2" placeholder="아이디(이메일)"/>
    <input type="text" class="phoneNo form-control mb-2" placeholder="핸드폰 번호"/>
    <button type="button" class="btn btn-primary w-100 find-password">비밀번호 찾기</button>
  </main>
</div>
</body>
</html>