<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리딩북스</title>

    <th:block th:replace="~{common/fragments/common-settings :: settings}"></th:block>
    <script th:src="@{/js/login/login.js}"></script>
    <link rel="stylesheet" th:href="@{/css/login/login.css}" type="text/css">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <header class="header mb-5 mt-5">
            <nav>
                <a href="/">
                    <img src="/images/logo/reading.png" alt="리딩" width="200">
                </a>
            </nav>
        </header>
        <main class="main">
            <div class="login-form">
                <th:block th:replace="~{login/fragments/login-form :: form}"></th:block>
                <div class="bottom p-3 d-flex justify-content-between">
                    <a href="/account/find-id">아이디 찾기</a>
                    <a href="/account/find-password">비밀번호 찾기</a>
                    <a href="/account/register">회원가입 하기</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>