<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="form">
    <form action="/account/login" method="post" name="login">
        <div class="top">
            <input type="email" class="form-control mb-1 p-3" name="email" id="email" placeholder="이메일을 입력해주세요."/>
            <input type="password" class="form-control mb-1 p-3" name="password" id="password" placeholder="비밀번호를 입력해주세요"/>
            <div class="remember-box p-1">
                <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
                <label for="remember-me" class="form-label">로그인 상태 유지</label>
            </div>
        </div>
        <div class="middle d-flex flex-column">
            <div class="message" th:if="${hasMessage == true}" th:text="${message}">
            </div>
            <button type="button" class="login btn btn-primary form-control p-3 mb-1" onclick="signin()">로그인</button>
        </div>
    </form>
</th:block>