<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="form">
  <div class="top">
    <input type="email" class="form-control mb-1 p-3" name="email" id="email" placeholder="이메일"/>
    <div class="email-result result"></div>

    <input type="password" class="form-control mb-1 p-3" name="password" id="password" placeholder="비밀번호"/>
    <input type="password" class="form-control mb-1 p-3" name="password" id="passwordConfirm" placeholder="비밀번호 확인"/>
    <div class="password-result result"></div>

    <input type="text" class="form-control mb-1 p-3" name="name" id="name" placeholder="이름"/>
    <div class="name-result result"></div>

    <input type="text" class="form-control mb-1 p-3" name="phoneNo" id="phoneNo" placeholder="핸드폰 번호"/>
    <div class="phoneNo-result result"></div>

    <div class="d-flex">
      <input type="text" class="form-control p-3 me-1 mb-1" name="birthYear" id="birthYear" placeholder="출생년도"/>
      <select name="gender" id="gender" class="form-select p-3 ms-1 mb-1">
        <option value="MEN">남성</option>
        <option value="WOMEN">여성</option>
        <option value="SECRET">비공개</option>
      </select>
    </div>
    <div class="birthYear-result result"></div>
  </div>
  <div class="middle mt-3 mb-3">
    <button type="button" class="btn btn-primary" id="register">회원가입</button>
  </div>
</th:block>